 @font-face {
     font-family: 'MyFont';
     src: url('../assets/font/kust.eot?#iefix') format('embedded-opentype'),
          url('../assets/font/kust.woff') format('woff');
     font-weight: 600;
     font-style: normal;
   }

body{
  background-color: red;
  /* background-color: red; */
  /*background: url('../assets/img/photo.jpg');*/
}

.ignore-test{
  height: 100px;
  width: 1000px;
}

.one{
  height: 300px;
}

.test{
  height: 100px;
}

#whitelisted-tt{
    color:red;
}

#app{
  font-family: 'MyFont';
  font-size: 20px;

  .item{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: 200% 200% !important;
  }

  .item-home{
    background-image: url('../assets/sprite/home.png?_sprite');
  }

  .item-news{
    background-image: url('../assets/sprite/news.png?_sprite');
  }

  .item-my{
    background-image: url('../assets/sprite/my.png?_sprite');
  }

}